.row#contribution-page
  .span6.offset2
    %h1 We're trying something new
    %p Loomio wants to be available to everyone to make the biggest social impact but needs your support so we ask you pay a subscription or what you can for your group's Loomio access.

    = simple_form_for @group_request, url: contribution_group_request_path(@group_request.id) do |f|
      %h2 Your group's contribution
      %input{id: 'subscription-option', name: 'group_request[contribution_type]', type: 'radio', value: 'subscription', checked: "checked"}
      %label{class: 'collection-radio-buttons', for: 'subscription-option'}
        Subscription
        .contribution-info
          %p Paying the subscription for your group is the default way to contribute to Loomio. We wont bother you or your group members about papyment again.
          %span#cotribute-label
            Contribute $5 per person per month.
      %br
      %br
      %input{id: 'donation-option', name: 'group_request[contribution_type]', type: 'radio', value: 'donation'}
      %label{class: 'collection-radio-buttons', for: 'donation-option'}
        Pay what you can
        .contribution-info
          %p We'll ask you to review this in 6 months and we may ask your group members for contributions.
          #donation-options.clearfix.hidden
            #contribute-label Contribute $
            = f.input :contribution_amount, as: :string, label: false, value: '5', id: 'group_request_contribution_amount'
            = f.input :contribution_frequency, collection: ['monthly', 'once'], value: 'monthly', include_blank: false, label: false

      = f.submit 'OK, This is what we can contribute', :class => "btn btn-large btn-info btn-block", id: "submit-contribution", :data => {:disable_with => "Requesting new group"}


