// Place all the styles related to the GroupRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
@import "settings";

.collection-radio-buttons {
  display: inline;
  font-size: $font-large;
}
.contribution-info { 
  margin: 3px 5px 0 15px;
  .control-group { 
    float: left;
    padding: 0 5px 0 5px;
    position: relative;
    bottom: 5px;
  }
  .controls { float: left; }
  #group_request_contribution_amount{ width: 80px; }
  #group_request_contribution_frequency { width: 120px; }
}
#contribute-label {
  float: left;
}
